useDynLib(Numero)

export("nroAggregate")
export("nroColorize")
export("nroKohonen")
export("nroKmeans")
export("nroLabel")
export("nroMatch")
export("nroPermute")
export("nroPlot")
export("nroPreprocess")
export("nroSummary")
export("nroTrain")

importFrom(Rcpp, evalCpp)
