body{
  counter-reset:table figure;
}
.table{
  width:auto;
}

caption::before{
  counter-increment: table;
  content: "Table " counter(table) ": ";
}

.caption::before{
  counter-increment: figure;
  content: "Figure " counter(figure) ": ";
}

caption, .caption{
  font-style:italic;
  margin-top:0.5em;
  margin-bottom:0.5em;
  width:80%;
  text-align: left;
}